// Text color
$txt-dark: #403f3d;
$txt-light: #e1d4c9;
$txt-accent: #b0907a;

// Background color
$bg-body: #e1d4c9;
$bg-container: #665f55;
$bg-backdrop: #403f3dcc;

// Border color
$brd-light: #c1b6ad;
$brd-dark: #665f55;
