.app-button {
}
.app-button__link {
  display: flex;
  column-gap: 8px;
  padding: 12px 20px;
  width: 200px;
  height: 64px;
  border: 1px solid $brd-dark;
  box-sizing: border-box;
  border-radius: 100px;
  text-decoration: none;
  color: $txt-dark;
  transition: all 0.3s ease;
  
  &:hover {
    color: $txt-light;
    background-color: $brd-dark;
    
    path {
      fill: $brd-light;
      transition: all 0.3s ease;
    }
  }
}
.app-button__link__app-store {
}
.app-button__icon {
}
.app-button__button-container {
  display: flex;
  flex-direction: column;
}
.app-button__text-top {
}
.app-button__text-bottom {
}
.app-button__link__google-play {
}
