.contacts {
}
.contacts__paragraph {
  margin: 0 0 20px;
  
  &:last-child {
    margin: 0;
  }
}
.contacts__location {
}
.contacts__link {
  position: relative;
  padding-left: 28px;
  color: $txt-light;
  text-decoration: none;

  &::after {
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    width: 20px;
    height: 20px;
  }
}
.contacts__link__location {
  &::after {
    background-image: url('../icon/icon-contacts-pin-alt.svg');
  }
}
.contacts__link__phone {
  &::after {
    background-image: url('../icon/icon-contacts-phone.svg');
  }
}
.contacts__link__work-time {
  &::after {
    background-image: url('../icon/icon-contacts-clock.svg');
  }
}
.contacts__phone {
}
.contacts__work-time {
}
