.favorite-coffee {
}
.favorite-coffee__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favorite-coffee__title {
}
.favorite-coffee__subtitle {
  margin: 0 0 40px;

  span {
    color: $txt-accent;
  }
}
.favorite-coffee__slider {
}
