.footer {
}
.footer__container {
  display: flex;
  column-gap: 100px;
  margin-bottom: 40px;
  padding: 100px;
  border-radius: 40px;
  background-color: $bg-container;
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.footer__title {
  margin: 0 0 40px;
  color: $txt-light;

  span {
    color: $txt-accent;
  }
}
.footer__socials {
}
.footer__subtitle {
  margin: 0 0 40px;
  color: $txt-light;
}
.footer__contacts {
}
