.header {
  margin-bottom: 20px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header__logo {
}
.header__link {
  position: relative;
  padding-right: 28px;
  text-decoration: none;
  color: $txt-dark;

  img {
    display: flex;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-image: url('../icon/icon-coffee-cup.svg');
  }
}
.header__main-nav {
}
.header__menu {
}