.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: $bg-backdrop;
}
.modal__hidden {
  display: none;
}
.modal__container {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 40px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: $bg-body;
}
.modal__title {
}
.modal__item {
}
