.tag {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 16px 8px 8px;
  border: 1px solid $brd-light;
  border-radius: 100px;
  transition: all 0.3s ease;
  
  &__current {
    border: 1px solid $brd-dark;
    background-color: $bg-container;
  }

  &:not(.tag__current) {
    cursor: pointer;

    &:hover {
    border: 1px solid $brd-dark;
    background-color: $bg-container;
    }
    &:hover > .tag__icon  {
      background-color: $bg-body;
    }
    &:hover > .tag__text  {
      color: $bg-body;
    }

    @media (max-width: 768px) {
      cursor: auto;
      &:hover {
        border: 1px solid $brd-light;
        background-color: transparent;
        }
        &:hover > .tag__icon  {
          background-color: $brd-light;
        }
        &:hover > .tag__text  {
          color: $txt-dark;
        }
    }
  }
}
.tag__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: $brd-light;
  
  &__current {
    background-color: $bg-body;
  }
}
.tag__text {
  margin: 0;
  
  &__current {
    color: $bg-body;
  }
}
